.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.App-logo {
  animation: 3s ease-in-out 0s normal none infinite swing;
  height: 80px;
  font-size: 64px;
}

.App-header {
  background: #000 url(./bg.jpg) no-repeat;
  background-position: 90% 50%;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

h3 {
  margin: 40px 0 20px;
  font-size: 28px;
}

.App-player {
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 10px;
  padding: 5px;
  box-shadow: 1px 3px 13px rgba(0, 0, 0, 0.1);
}

.App-player button {
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  box-shadow: 1px 3px 13px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.App-player-seek-timer {
  position: absolute;
  font-size: 12px;
  width: 120px;
  bottom: 5px;
  right: 58px;
}

.Track-title {
  font-weight: 600;
  margin: 5px
}

.Track-artist {
  font-style: italic;
  margin: 0 5px 5px;
}

.List-item img {
  width: 32px;
  height: 32px;
}

@keyframes swing {
  0%{transform:rotate(-15deg)}
  50%{transform:rotate(15deg)}
  100%{transform:rotate(-15deg)}
}
